[submodule "typescript-starter"]
	path = typescript-starter
	url = https://github.com/nestjs/typescript-starter.git
[submodule "iluvcoffee"]
	path = iluvcoffee
	url = git@github.com:ozymoondias/iluvcoffee.git
